<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: black;
}

h1 {
  color: red;
  text-align: center;
  font-size: 40px;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: white;
}
</style>
</head>
<body>

<h1>The Theif</h1>
<p>Two bodies were lying on the dust</p>
<p>The bodies of brothers who were guiltless</p>
<p>How visiously killed, that is speechless</p>
<p>Neither the theif nor the rapist they were</p>
<p>Just 2 innocent neive guys they were</p>
<p>Beaten by sticks, kicked by the feet</p>
<p>Drenched in blood like a red sheet</p>

</body>
</html>
<img src="https://square-enix-games.com/en_GB/games/thief/">
<img src="https://www.snowmagazineonline.com/article/to-catch-a-thief/">
<img src="https://gadgets.ndtv.com/games/news/new-thief-game-thief-movie-1692459">
<img src="https://www.vectorstock.com/royalty-free-vector/policeman-tries-to-chase-a-thief-vector-23660138">
